<!DOCTYPE html>
<html ng-app="SmartMirror">
<head>
    <meta charset="utf-8">
    <title>Smart Mirror</title>
    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.0/angular-locale_nl-nl.min.js"></script>
    <!-- App -->
    <script src="config/main.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/services/compliments-service.js"></script>
    <script src="assets/js/services/geolocation-service.js"></script>
    <script src="assets/js/services/weather-service.js"></script>
    <script src="assets/js/services/news-service.js"></script>
    <script src="assets/js/controller.js"></script>
    <!-- Styles and Resources -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800,700" rel="stylesheet" type="text/css">
</head>
<body ng-controller="SmartMirrorController as commands">
<div id="cntr">
    <div class="date grey">{{dateTime | date : 'EEEE, d MMMM yyyy'}}</div>
    <div class="time">{{dateTime | date : 'HH:mm'}}</div>
    <h1>{{compliment}}</h1>
    <div class="weather">
        <div class="weather-today">
            <span class="icon dimmed wi {{weatherCurrentForcast.icon}}"></span>
            <span class="tempreture">{{weatherCurrentForcast.temperature}}&deg;</span>
        </div>
        <div class="weather-week-descriptor">
            <span>{{weatherHourlyForcast.summary}}</span>
            <span>{{weatherWeeklyForcast.summary}}</span>
        </div>
        <div class="weather-week" ng-repeat="forcast in weatherWeeklyForcast" ng-if="$index > 0">
            <div class="weather-week-day">
                <span class="day light-grey">{{forcast.date | date : 'EEE'}}</span>
                <span class="icon-small dimmed wi {{forcast.icon}}"></span>
                <span class="tempreture tempreture-min">{{forcast.temperatureMin}}&deg;</span>
                <span class="tempreture tempreture-max">{{forcast.temperatureMax}}&deg;</span>
            </div>
        </div>
    </div>
    <ul class="news" ng-repeat="newsItem in news">
        <li>{{newsItem.date | date : 'EEE, HH:mm'}}: {{newsItem.title}}</li>
    </ul>
</div>
</body>
</html>